<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>
<link rel="stylesheet" href="/css/views/signup.css">
<link rel="stylesheet" href="/css/views/login.css">
<link rel="stylesheet" href="/css/views/index.css">
<link rel="stylesheet" href="/plugins/css/alertify.min.css">
<link rel="stylesheet" href="/plugins/css/themes/default.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
<link rel="stylesheet" href="/css/views/index.css">
<script src="https://kit.fontawesome.com/58e42bf76d.js" crossorigin="anonymous"></script>
