<%- contentFor('body') %>
<div class="carousel-inner">
    <div class="carousel-item active">
        <img src="./img/img5.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="./img/img6.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
        <img src="./img/img7.png" class="d-block w-100" alt="...">
    </div>
</div>