<header class="slider-container">
    <div class="slider relative">
        <div class="slide active" style="background-image: url('img/header/header1.jpg');">
            <div class="slide-content">
                <h2 class="text-4xl font-bold">Tu Portal de Compras Inteligentes en Colombia</h2>
                <p class="mt-2 text-xl">Explora, Compara y Ahorra en Productos de Todos los Mercados</p>
            </div>
        </div>
        <div class="slide next" style="background-image: url('img/header/header2.jpg');">
            <div class="slide-content">
                <h2 class="text-4xl font-bold">Descubre Ofertas que Redefinen el Ahorro</h2>
                <p class="mt-2 text-xl">Encuentra las Mejores Promociones de forma Rápida y Eficaz</p>
            </div>
        </div>
        <div class="slide next" style="background-image: url('img/header/header3.jpg');">
            <div class="slide-content">
                <h2 class="text-4xl font-bold">Tu Aliado Perfecto para Comprar de Forma Inteligente</h2>
                <p class="mt-2 text-xl">Descubre Productos de Calidad y Ofertas Que No Puedes Perder</p>
            </div>
        </div>
        <!-- Botones de flecha -->
        <button id="prev" class="arrow-btn">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button id="next" class="arrow-btn">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</header>